/*
    SINTAXE DE CSS

    selector {
        propiedade1: valor;
        propiedade2: valor;
        ...
        propiedadeN: valor;
    }

    Selector  : O elemento o que lle imos a aplicar estilos
    Propiedade: O que vamos a cambiar a dito elemento
    Valor     : O novo valor que lle vamos a dar á propiedade

    Propiedade: Valor -> cada unha destas liñas chámase declaración
    O conjunto de selector+declaración(s) chámaselle regra
*/

/* Exemplo */
body {
    background: pink;
    font-family: 'Segoe UI';
}