/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Calibri;
  }
  /* NAVBAR */
  
  .navbar {
    padding: 10px;
    background-color: black;
    color: #fff;
  }
  
  .navbar__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
  }
  
  .navbar__item img {
    height: 30px;
  }
  
  .navbar__link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar__link:hover {
    color: red;
  }
  
  /* HERO */
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .hero {
    background: whitesmoke;
  }
  
  .hero__container {
    display: flex;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px;
    flex-direction: column;
    align-items: center;
  }
  
  .hero__intro {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .hero__intro strong {
    color: red;
  }
  
  .hero__caption {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero img {
    width: 60%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .hero img:hover {
    filter: saturate(60%)
  }
  
  .hero a {
    text-decoration: none;
    color: red;
    font-size: 18px;
  }
  
  .hero a::before {
    content: "🅰️";
  }
  
  .hero a:hover {
    color: black;
  }
  
  /* CHARACTERS */
  
  .characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .characters__item {
    border-radius: 8px;
    margin: 14px;
    text-align: center;
    height: 300px;
    width: 180px;
    object-fit: cover;
    padding: 4px;
  }
  
  .characters__item img {
    margin: 10px;
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  
  .characters__title {
    background: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 22 px;
    padding: 3px;
    color: rgb(255, 255, 255);
  }
  
  .characters__caption {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* FOOTER */
  
  footer {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 4px;
  }
  
  footer p {
    margin: 14px;
    font-size: 18px;
  }
  
  footer strong {
    color: red;
  }
  
  /* EXTRA */
  
  hr {
    height: 4px;
    background-color: black;
    border: none;
  }
