* {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    padding: 10px;
    height: 20px;
    text-align: center;
}
.main{
    height: 800px;
    width: 700px;
    background-color: bisque;
}
div {
    margin: 10px;
}
img.octocat {
    height: 200px;
}
.linea01 {
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content:space-between;
}
.linea02 {
    background-color:darkolivegreen;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content:space-around;
}
.linea03 {
    background-color:rgb(150, 150, 202);
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content:space-between;
}

p {
    text-align: center;
}