/*
    Z-INDEX
        Permítenos mover o elemento no contexto de apilamiento.
        É a propiedade que nos permite ordenar que eltos se colocan diante e cales detrás.
        
        O z-index só funciona en elementos posicionados e elementos flex ou grid.

        Se non se define ningún valor para o z-index, o navegador utilizará a orde de aparición no html.

        Nunca imos poder posicionar a un pai por diante dun fillo.
        Poderemos posicionar o fillo por detrás do pai si:
            1. O pai non ten z-index definido ou ten definido z-index: auto.
            2. Ao fillo lle damos un z-index negativo.


*/

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: grey;
    color: aliceblue;
}

h1 {
    text-align: center;
}

.contenedor {
    background-color: aliceblue;
    border: 2px solid black;
    /* Para centar os eltos con comportamento de bloque */
    margin: auto;
    width: 700px;
    height: 700px;
    position: relative;
    /* Necesario para poder posicionar caixa-8 detrás de caixa-7 */
    z-index: 0;
}

.caixa {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.caixa-1 {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 150px;
    z-index: 10;
}

.caixa-2 {
    background-color: lightgreen;
    width: 225px;
    height: 225px;
    position: relative;
}

.caixa-3 {
    background-color: lightsteelblue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 500px;
    left: 200px;
}

.caixa-4 {
    background-color: lightcoral;
    width: 225px;
    height: 225px;
    position: absolute;
    bottom: 0px;
    /* sobraría, por estar caixa4 escrito por debaixo de caixa3 no html */
    z-index: 10;
}


.caixa-5 {
    background-color: lightseagreen;
    width: 275px;
    height: 275px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.caixa-6 {
    background-color: lightsalmon;
    width: 175px;
    height: 175px;
    position: relative;
    left: -50px;
    top: 25px;
}

.caixa-7 {
    background-color: deepskyblue;
    width: 275px;
    height: 275px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* Sobraría, xa que é o valor por defecto */
    z-index: auto;
}

.caixa-8 {
    background-color: lightslategray;
    width: 175px;
    height: 175px;
    position: relative;
    left: -50px;
    top: -75px;
    z-index: -10;
}