<!--
    Author: 
    E-mail: 
    Description: 
    Date: 
    Reference: https://developer.mozilla.org/docs/Web/CSS/flex
    Requires: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Flex</title>
    <link rel="stylesheet" type="text/css" href="css/exemplo.css">
</head>

<body>
    <div id="main">
        <div id="header">

        </div>
        <div id="content">
            <div id="leftbar">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div id="last"></div>
            </div>
            <div id="main_content">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div id="last"></div>
            </div>
        </div>
    </div>
</body>

</html>