*{
    margin: 0;
    padding: 0;
}
.encabezado{
    background-color: lightcyan;
    text-align: center;
    padding: 25px;
}
main{
    display: flex;
    justify-content: center;
}
.dereita{
    background-color: lightcoral;
    text-align: center;
    flex-grow: 2;
    align-content: center;
    padding-top: 200px;
}
.corpo{
    background-color: lightseagreen;
    text-align: center;
    padding: 220px 0px;
    flex-grow: 4;
}
.pe{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}