/*  
    DISPOSICIÓN DOS ELEMENTOS FLEXIBLES NO EIXE TRANSVERSAL

        A propiedade align-content establece a distribución das liñas nun contenedor flexible
        cando hai espazo extra no eixe transversal. Non ten efecto nas caixas flexibles dunha soa liña:

            align-content: flex-start;
            align-content: flex-end; 
            align-content: center; 
            align-content: space-between; 
            align-content: space-around; 
            align-content: space-evenly;

        Para mais información consulta os apuntamentos en pdf ou o seguintes enlaces:
        https://developer.mozilla.org/es/docs/Web/CSS/align-content
        https://css-tricks.com/almanac/properties/a/align-content/
*/

h3 {
    display: inline-block;
    width: 300px;
    margin: 20px;
    text-align: center;
}

.contenedor-flex {
    display: flex;
}

.box {
    border: 1px black solid;
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}

.box-1 {
    align-content: flex-start;  
}

.box-2 {
    align-content: flex-end;
}

.box-3 {
    align-content: center;  
}

.box-4 {
    align-content: stretch;
    
}

.box-5 {
    align-content: space-between;  
}

.box-6 {
    align-content: space-around;  
}

.item {
    opacity: .9;
    width: 100px;
    height: 100px;
}

.itemStretch {
    opacity: .9;
    width: 100px;
}

.item1 {
    background-color: lightcoral;
}

.item2 {
    background-color: lightskyblue;
}

.item3 {
    background-color: lightgreen;
}

.item4 {
    background-color: lightgray;
}

.item5 {
    background-color: khaki;
}

.item6 {
    background-color: lightsalmon;
}
