/* 
	Estilos para os exemplos de posicionamento CSS
*/

body {
    font-family: helvetica, arial, sans-serif;
    color: #575757;
    min-height: 1600px;
    padding: 10px;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.box {
    padding: 5px;
    color: #373737;
    font-weight: bold;
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #ccc;
}

.container {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid green;
    background-color: #eee;
}

/* =========================
	Absolute e Fixed
============================ */
.container1 {
    height: 200px;
    position: relative;
    /* agora ancla elementos absolute */
}

.a {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: red;
}

.b {
    position: absolute;
    top: 70px;
    left: 70px;
    background-color: orange;
    opacity: .9;
    z-index: 1;
}

.c {
    position: absolute;
    top: 90px;
    left: 90px;
    background-color: yellow;
}

.d {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: chocolate;
}

.e {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: lightgreen;
}

.f {
    position: fixed;
    right: 10px;
    top: 50%;
    background-color: salmon;
    margin-top: -25px;
}

/* ==============================
	Floats
================================= */
.container2 {
    overflow: hidden;
    /* agora contén floats */
}

.g,
.h,
.i {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: turquoise;
}

.i {
    clear: left;
    background-color: orchid;
}

.j {
    clear: both;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    background-color: chartreuse;
}