div.contenedor {
    background-color: #f1f5f9;
    border: solid black 2px;
    width: 1000px;
    height: 500px;
}
div>* {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    É o valor predeterminado dun elemento, con este valor o elemento NON ESTÁ POSICIONADO e polo tanto non poderemos movelo.
    É dicir, os elementos con posición static, non teñen aceso as propiedades top, botton, right, left e z-index.
*/
div.static {
    position: static;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: #facc15;
}

/*
    Os eltos con position absolute, vanse posicionar de maneira relativa o seu primeiro
    antecesor que teña position distinto de static.

    Cando indicamos un top, botton, left ou right, o elemento con posición absoluta
    vai recorrer a árbore elementos html antecesores, buscando un elemento que teña especificada
    unha posición (vale calquera valor menos static, xa que static é o valor por defecto),
    de maneira que a poida tomar como referencia. No caso de non atopar ningún
    antecesor con unha posición especificada, posicionarase de maneira relativa o elemento html.

    Os elementos con posicion absoluta:
        - Son eliminados do documento.
        - Non se reserva espazo para eles.
        - Os outros elementos comportaranse como si dito elemento non existise.
*/
div.absolute {
    background-color: #fb7185;
    position: absolute;
    top: 120px;
    left: 440px;
    width: 200px;
    height: 100px;
}

/*
    O valor relative da propiedade position, permítenemos posicionar un elemento
    empregando as propiedades top, bottom, left e right.
    Os valores otorgados a estas propiedades desplazarán o noso elemento con respecto
    a posición que lle correspondería seguindo o fluxo normal do documento html,
    de ahí o nome de relative: o desprazamento realizado é relativo a posición orixinal.

    A diferenza dos eltos con posición absoluta, os elementos con posición relativa
    permanecen no fluxo normal da páxina.

    Polo tanto, empregaremos absolute cando queiramos sacar un elto do fluxo normal da nosa páxina
    e empregaremos relative cando queiramos posicionar un elto pero que permanezca no fluxo da páxina.
*/
div.relative {
    background-color: #4ade80;
    position: relative;
    width: 200px;
    height: 100px;
}

/*
    O valor fixed mantén o elto nunha posición fixa do viewport.

    Fixed ten un comportamento similar a absolute:
        - Os eltos con posicion fixed son eliminados do documento.
        - Non se reserva espazo para eles.
        - Os outros elementos comportaranse como si dito elemento non existise.

    Unha diferenza importante é que cando facemos scroll, o elemento seguiranos,
    para permanecer no mesmo lugar do noso viewport.

    A outra diferenza é que un elemento con posición fixed sempre se posiciona
    con respecto o documento html (non con respecto o primeiro antecesor con
    position non static ou sen definir).

*/
div.fixed {
    background-color: #38bdf8;
    position: fixed;
    top: 240px;
    left: 440px;
    width: 200px;
    height: 100px;
}
/*
    Os eltos con position sticky, posicionanse con respecto o scroll.

    Sticky ten un comportamento similar a relative e fixed.

    Sticky solo funciona en conxunción coa propiedade top e, ou, bottom.
    O elemento con posición sticky, empezará a desprazarse o facer scroll no momento
    no que a súa posición top matchee ou se corresponda coa indicada na propiedade top.
    Deixará de facer scroll cando chegue o final do contenedor.
*/
div.sticky {
    background-color: #f472b6;
    position: sticky;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
}