    /* 
        BOX-SIZING

        É unha propiedade de CSS que establece como se calcula o ancho e o alto total dunha caixa.
        A propiedade box-sizing ten dous valores posibles:
        
            content-box: é o valor predeterminado polo que non é necesario configuralo. Non ten en conta o borde nin o padding.
            border-box: Ten en conta o borde e o padding, e redimensiona o contido para que o width e o height establecidos se cumpran.

            *, *::after, *::before { box-sizing: border-box; } -> facer isto sempre, é unha boa práctica.
    */

    .contenedor {
        background:deepskyblue;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #caixa2 { 
        text-align: center;
        width: 100px;
        height: 120px;
        padding: 5px;
        border: 2px solid yellow;
        box-sizing: content-box;
    }

    #caixa3 {
        text-align: center;
        width: 100px;
        height: 120px;
        padding: 5px;
        border: 2px solid yellow;
        box-sizing: border-box;
    }