.row-sup{
    background-color: black;
    height: 250px;
    width: 1500px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}
.rojo-sup{
    height: 100%;
    width: 25%;
    background-color: #EF2B2D;
}
.blanco-sup{
    height: 100%;
    width: 5%;
    background-color: #FFFFFF;
}
.azul-sup{
    height: 100%;
    width: 10%;
    background-color: #002868;
}
.blanco-med{
    background-color: #FFFFFF;
    height: 100%;
    width: 25%;
}
.izquierdo{
    width: 55%;
}

.row-sup-2{
    height: 50px;
    width: 1500px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}
.azul-principal{
    height: 100px;
    width: 1500px;
    background-color: #002868;
}

