img {
	width:100%;
}

.contenedor-imaxe {
	margin:auto;
	position: relative;
	width: 900px;
}

h2 {  
    margin:auto;
    width: 470px; 
}

.texto-centrado {
	color: white;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 33%;
    left: 22%;
    text-align: center;
    opacity: .8;
}

.texto-centrado h1 {
	font-size: 40px;
	font-weight: 100;
}

.texto-centrado p {
	font-size: 25px;
	font-weight: 100;
}