* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  width: 50%;
}

.container img {
  float: right;
  margin: 0px 1em;
  width: 20%;
}

#clear {
  clear: right;
}

.container:nth-of-type(3) {
  /*overflow-y: auto;*/
  /*height: 130px;*/
}
